[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
statsd = "*"


[dev-packages]

coverage = "*"
"flake8" = "*"
isort = "*"
pudb = "*"
pycodestyle = "*"
pylint = "*"
python-coveralls = "*"
wheel = "*"
